input[type=text] {
    width: 100%;
}
.nameRow {
  cursor:pointer;

}
.nameRow:hover { 
    background-color: #f5f5f5;

}
.tags {
  color: #817f7f;
  margin-top: 30px;
  margin-bottom: 30px;
}
.description {
  display:none;
}
.head-s {
  background-color: #FFF6EE;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px
}
#logo {
  width:100%;
}
.nameCell {
  width:100%;
  border-top: 1px solid #ddd;
  padding-bottom:30px;
  padding-top:20px;
}
body {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
p {
  font-size: medium;
  max-width: 650px;
  margin: 40px auto;
}
h1 {
  font-size: 60px;
  font-weight: bold;
  color: #484848;
  margin-top: 100px;
}

h2{
  max-width: 750px;
  margin: 30px auto;
  font-size: 160%;
  font-family: 'helvetica', sans-serif;
  color: #4A4A4A;
  margin-bottom: 50px;
} 

h3 {
  font-size: 170%;
}

#filter-button{
  margin-top: 20px;
}

a {
  color:#212b31;
}
a:hover {
  color:#212b31;
}

.btn,.btn:hover {
    border: 2px solid #e03a3e;
    border-radius: 5px;
    width: 100%;
    color: #fff;
    background-color: #e03a3e;
    
}


#top-button {
    border: 2px solid #E03A3E;
    border-radius: 5px;
    width: 100%;
    background-color: transparent; 
    color: #E03A3E;
}

#top-button:hover{
  color: #fff;
  background-color:#e03a3e;
  transition: 0.4s;
 
}


