input[type=text] {
    line-height: 1.7em;
    font-size:120%;
    width: 100%;
    border-radius:4px;
    border-style:solid;
    border-width:1px;
}
.nameRow {
  cursor:pointer;

}
.nameRow:hover, .nameRow:hover + .description { 
    background-color: #f5f5f5;
}
.tags {
  color: #817f7f;
  line-height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.description {
  display:none;
}
.desCell {
  padding-left: 50px;
}
.head-s {
  background-color: #FFF6EE;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px
}
#logo {
  width:100%;
  min-width: 50px;
}
.nameCell {
  width:100%;
  border-top: 1px solid #ddd;
  padding-bottom:20px;
  padding-top:20px;
  padding-left: 30px;
  font-size: 125%;

}
#table {
  margin-right: 15px;
  margin-left: 15px;
}
body {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
p {
  font-size: medium;
  
}
h1 {
  font-size: 400%;
  font-weight: bold;
  color: #484848;
  margin-top: 100px;
}

h2{
  max-width: 750px;
  margin: 30px auto;
  font-size: 160%;
  font-family: 'helvetica', sans-serif;
  color: #4A4A4A;
  margin-bottom: 50px;
} 
.container {

}
#tableB {

}
h3 {
  font-size: 250%;
  margin-bottom: 35px;
}

#filter-button{
  margin-top: 20px;
}

a {
  color:#212b31;
}
a:hover {
  color:#212b31;
}

.btn,.btn:hover {
    border: 2px solid #e03a3e;
    border-radius: 5px;
    width: 100%;
    color: #fff;
    background-color: #e03a3e;
    
}
.plus {
  border-top: 1px solid #ddd;
  font-size: 200%;
}

#top-button {
    border: 2px solid #E03A3E;
    border-radius: 5px;
    min-width: 150px;
    background-color: transparent; 
    color: #E03A3E;
}

#top-button:hover{
  color: #fff;
  background-color:#e03a3e;
  transition: 0.4s;
 
}


