input[type=text] {
    width: 100%;
}

.head-s {
  background-color: #878787;
}
#logo {
  width:100%;
}
body {
  font-family: "Lucida Console", Monospace;
  font-size: 16px;
  line-height: 1.5;
}
p {
  font-size: medium;
  max-width: 650px;
  margin: 40px auto;
}
h3{
  max-width: 750px;
  margin: 40px auto;
  font-size: 115%;
}
a {
  color:#212b31;
}
a:hover {
  color:#212b31;
}

.btn {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
}

.modal {
  z-index:3;
  display:none;
  padding-top:50px;
  position:fixed;
  left:400px;
  top:100px;
  width:800px;
  height:1000px;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4)
}
